.ques{
  height: 300px;
}
.optionlist{
  padding-top: 9px;
}
.res
{
  padding-top: 9px;
}
.prevbtn
{
  padding-bottom: 5px;
}
.btn{
  background-color: darkcyan;
  color:white;
  box-shadow: 2px 2px 4px 2px rgb(196, 193, 193);;
 
}
.btn-prev
{
  width: max-content;
  float: left;
}
.btn-next
{
  width: max-content;
  float: right;
}
.btn-sub
{
  align-content: center;
}

@media (min-device-width : 320px) and (max-device-width : 480px) {
.btn-prev
  {
  width: 100%;
  font-size: small;
  }
.btn-next
  {
  width: 100%;
  font-size: small;
  }
  
}