<div class="container-fluid">
<div class="col-sm-12 ques">
<h4> {{quesData.qid}}. {{quesData.question}} </h4>
<div class="form-group optionlist" *ngFor= "let opt of quesData.options; let i = index" >
    <input type="radio"
    name= "ques"
    [value] = 'opt'
    (click)="saveSelection(quesData.qid, opt)"
    [(ngModel)]= "ques"
    id={{i}}>
    {{opt}} 
</div> 
</div>
<div class="row col-sm-12">               
<div class="col-sm-6 prevbtn">
    <button [hidden]=" quesData.qid == 1" (click)="previous(quesData.qid)" class="btn btn-block btn-prev ">Previous</button>
</div>
<div class="col-sm-6">
    <button [hidden]="quesData.qid == 5" (click)="next(quesData.qid)" class="btn btn-block btn-next ">Next</button>
</div>
</div> 
<div class="row res col-sm-12">
<button [hidden]="quesData.qid != 5" (click)="results()"  class="btn btn-sub btn-block ">Results</button>
</div>    
</div>