
<div class="container">
    <div class="col-sm-12">
      <form #regForm="ngForm" class="needs-validation" novalidate >
        <h4 class="subhead">Enter Details to Start Quiz</h4>
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="userFName" placeholder="First Name" required>
              <div class="valid-tooltip">
                Looks good!
              </div>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="userLName" placeholder="Last Name" required>
                <div class="valid-tooltip">
                  Looks good!
                </div>
              </div>

            <div class="form-group">
              <input type="email" class="form-control" [(ngModel)]="userEmail" placeholder="Email Address" required [pattern]="emailPattern" >
              <div class="valid-tooltip">
                email
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]= "!userEmail && !userFName && !userLName " >Submit</button>
          <!--<a [routerLink]="ques">Navigate</a>--> 
      </form>        
    </div>
</div>


 <div class="showenter">
  <h2>Hi</h2>
  <h2>  {{ fullName }}  </h2><a [routerLink]="['ques']" class="btn btn-block">Click Here to Enter Test >></a>
</div> 