.body
{
    background-color: rgb(255, 255, 255);
}
.outlet{
    padding-top: 10px;
}
.cmain
{
    background-color: white;
    height: 481px;
    border: 0.5px none;
    padding: 20px;
    padding-top: 30px;
    box-shadow: 4px 9px 9px 4px rgb(12, 160, 160);
}

.cfoot{
    padding-top: 2.0rem;
    height: auto;
}
.chead{
    height: auto;
}