.body
{
 background-color: rgb(255, 255, 255);
}
.outlet{
 padding-top: 10px;
}
.cmain
{
 background-color: white;
 height: 481px;
 padding: 10px;
 padding-top: 20px;
 box-shadow: 4px 9px 9px 4px rgb(12, 160, 160);
}

.cfoot{
 padding-top: 20px;
 justify-content: center;
 height: auto;
}
.chead{
 height: auto;
}