/* You can add global styles to this file, and also import other style files */
input.validation.help-block {
    color: #E07676;
    font-style: italic;
}

/* invalid & (dirty or touched) => red -- CSS3 only */
input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
    border-color: #e74c3c !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

/* valid & dirty => green */
input.ng-valid.ng-dirty.ng-touched {
    border-color: #2ecc71;
}

/* error display font italic, text-danger is red in BS */
input.validation.text-danger {
    font-style: italic;
}
.btn:hover
{
    border: 1px solid #0099cc;
    background-color: darkcyan;
    color: white;
    border-radius: 18px ;
}
  .btn[disabled]
{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}